* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.services {
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
}


.experiences {
    -webkit-box-shadow: inset 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
}

.custom-bg-hover:hover {
    background-color: #E4A11B;
    color: white;
    transition: .5s;
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    /* Change this to the desired color on hover */
}

.nav-link:hover {
    background-color: white;
}

.container img {
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
}

.progress {
    background-color: rgb(217, 206, 206);
    justify-content: flex-start;
    border-radius: 3rem;
    align-items: center;
    position: relative;
    display: flex;
    height: 1.6rem;
    width: 100%;

}

.pro-bar1 {
    animation: load1 3s normal forwards;
    border-radius: 3rem;
    background-color: black;
    height: 1.6rem;
    width: 0;
}

.pro-bar2 {
    animation: load2 3s normal forwards;
    border-radius: 3rem;
    background-color: black;
    height: 1.6rem;
    width: 0;
}

.pro-bar3 {
    animation: load3 3s normal forwards;
    border-radius: 3rem;
    background-color: black;
    height: 1.6rem;
    width: 0;
}

.pro-bar4 {
    animation: load4 3s normal forwards;
    border-radius: 3rem;
    background-color: black;
    height: 1.6rem;
    width: 0;
}

.progress p {
    color: white;
    padding: .2rem;
}

@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 98%;
    }
}

.btn1 {
    height: 2.5rem;
    width: 9rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: .25rem;

}

.btn1:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: .5s;
}

.btn2 {
    height: 2.5rem;
    width: 9rem;
    background-color: transparent;
    color: black;
    border-radius: .25rem;

}

.btn2:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: .5s;
}

.card-text {
    align-content: center;
}

/* Define the default font size */
.card-text {
    font-size: 16px;
    /* Adjust the default font size as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {

    /* Adjust the font size for smaller screens */
    .card-text {
        font-size: 14px;
        /* Set the font size smaller for smaller screens */
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 479px) {

    /* Further reduce the font size for very small screens */
    .card-text {
        font-size: 12px;
        /* Set the font size even smaller for very small screens */
    }
}

.redtext {
    color: red;
}

@media (max-width: 700px) and (orientation: landscape) {
    .col-md-3 {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
