* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.services {
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
}


.experiences {
    -webkit-box-shadow: inset 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
}

.custom-bg-hover:hover {
    background-color: #E4A11B;
    color: white;
    transition: .5s;
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    /* Change this to the desired color on hover */
}

.nav-link:hover {
    background-color: white;
}

.img-shadow {
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
}

.progress {
    background-color: rgb(217, 206, 206);
    justify-content: flex-start;
    vertical-align: middle;
    position: relative;
    display: flex !important;
    height: 1.8rem !important;
    width: 100%;

}

.pro-bar1 {
    animation: load1 3s normal forwards;
    border-radius: 2rem;
    background-color: black;
    height: 1.8rem;
    width: 0;
}

.pro-bar2 {
    animation: load2 3s normal forwards;
    border-radius: 2rem;
    background-color: black;
    height: 1.8rem;
    width: 0;
}

.pro-bar3 {
    animation: load3 3s normal forwards;
    border-radius: 2rem;
    background-color: black;
    height: 1.8rem;
    width: 0;
}

.pro-bar4 {
    animation: load4 3s normal forwards;
    border-radius: 2rem;
    background-color: black;
    height: 1.8rem;
    width: 0;
}

.progress p {
    color: white;
    padding: .2rem;
}

@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 98%;
    }
}

.btn1 {
    height: 2.5rem;
    width: 9rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: .25rem;

}

.btn1:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: .5s;
}

.btn2 {
    height: 2.5rem;
    width: 9rem;
    background-color: transparent;
    color: black;
    border-radius: .25rem;

}

.btn2:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: .5s;
}

.card-text {
    align-content: center;
}

/* Define the default font size */
.card-text {
    font-size: 16px;
    /* Adjust the default font size as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {


    /* Adjust the font size for smaller screens */
    .card-text {
        font-size: 14px;
        /* Set the font size smaller for smaller screens */
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 479px) {

    /* Further reduce the font size for very small screens */
    .card-text {
        font-size: 12px;
        /* Set the font size even smaller for very small screens */
    }
}

.redtext {
    color: red;
}

@media screen and (max-width: 1399px) and (min-width: 768px) {
    .services {
        height: 22rem !important;
        align-items: center;

    }
}

@media screen and (max-width: 1399px) and (min-width: 768px) {
    .experiences {
        height: 22rem !important;
        align-items: center;

    }
}


.hero-text {
    align-items: center;
    left: 0;
    animation: slideDown .5s linear;
}


@keyframes slideDown {
    0% {
        opacity: 0;
        scale: .5;
        translate: 0 -100%;
        z-index: 9999;
    }

    100% {
        opacity: 1;
        scale: 1;
        translate: 0 0;
        z-index: 1;
    }
}

.container {
    position: relative;
}

.first-div {
    padding-top: 20px;

}

.second-div {
    position: static;
    top: 0;
    left: 0;
    width: 100%;

}

.overlay {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .second-div {
        padding-top: 8rem;
        position: absolute;
        width: auto;
    }

    .overlay {
        opacity: .4;
    }

    .hero-text {
        left: 0;
        animation: slideDown .5s linear;
    }
}
